# macOS system files
.DS_Store

# Node.js dependencies
node_modules/

# Personal Files
*.pdf

React Practice/
Leetcode stuff/
Python/

# Vite and build output
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.*.local

# Editor settings
.vscode/
.idea/

# Optional testing/cache files
coverage/
*.snap
.eslintcache

# Virtual environments
venv/

# Python files
__pycache__
pyenv.cfg

# Static files for FastAPI
static/*
!static/.gitkeep