@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-button {
  width: 6rem;
  height: 3rem;
  margin-left: 1rem;
}

#main-search {
  width: 12rem;
  height: 1rem;
  
}