@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-button {
  width: 6rem;
  height: 3rem;
  margin-left: 1rem;
}

#main-search {
  width: 12rem;
  height: 1rem;
  
}

table, th, th, td {
  padding: 0.3rem;
  width: 20rem;
}

#recipe-image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
}

.sub-header {
  justify-content: center;
  display: flex;
  align-items: center;
  justify-items: center;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.instruction-content {
  border-left: 0px solid black;
  margin-left: 6rem;
  text-align: left;
}

#recipe-resources {
  display: flex;
  justify-content: space-evenly;
}

.blurred-overlay {
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
}