@import "tailwindcss";
@import "./styles/var.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
/* Dark Mode Background: #242424 */
/* Dark Mode Deep Black for Buttons */
form {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border: 2px solid;
  --c:conic-gradient(from -90deg at calc(100% - 2px) calc(100% - 2px),#0000 0 90deg,var(--text-color) 0); /* dark mode: #ffffff  light mode: #242424 */
  background: var(--c),var(--c);
  background-size: 16px 16px;
  background-position: 0 0;
  animation: l3 1s infinite;
}
@keyframes l3{
  100% {background-position: -16px -16px,16px 16px}
}

#welcome-display {
  display: block;
}

#question-div {
  border: 0.1rem solid black;
  background-color:rgb(83, 84, 90);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: white;
}

.question-options {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.return-button {
  margin: 2rem;
  width: 20rem;
}

#results-text {
  font-size: 4rem;
}

#results-present {
  font-size: 3.6rem;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}