@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* Dark Mode Background: #242424 */
/* Dark Mode Deep Black for Buttons */
form {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border: 2px solid;
  --c:conic-gradient(from -90deg at calc(100% - 2px) calc(100% - 2px),#0000 0 90deg,#242424 0); /* dark mode: #ffffff  light mode: #242424 */
  background: var(--c),var(--c);
  background-size: 16px 16px;
  background-position: 0 0;
  animation: l3 1s infinite;
}
@keyframes l3{
  100% {background-position: -16px -16px,16px 16px}
}

#welcome-display {
  display: block;
}

#question-div {
  border: 0.1rem solid black;
  background-color:rgb(83, 84, 90);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: white;
}

.question-options {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

#return-button {
  margin: 2rem;
  width: 20rem;
}

#results-text {
  font-size: 4rem;
}

#results-present {
  font-size: 3.6rem;
}